@import "../../styles/helpers";

.tableTitle {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px;

  img {
    margin-left: 16px;
  }
}

.monthTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 24px;
  margin-bottom: 12px;

}

.transactionTitleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 24px 13px 16px;
}

.widgetContentBlock {
  margin: 0 24px 24px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1%;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 13px 24px 13px 16px;
  border-radius: 8px;
  background-color: $base-light-gray;
}

.image {
  width: 32px;
  height: 32px;
}

.checkboxCol {
  width: 5%;
}

.nameCol {
  width: 15%;
}

.pointer {
  cursor: pointer
}

.articleBlock {
  margin: 0 24px 24px;
  // height: 50vh;
  display: flex;
  align-items: center;
  height: 100%;
  // overflow: auto;
}

.monthlyButton {
  margin-left: 50px;
}

// .bigIndust {
//   animation: loadEffect1 0.5s ease-in-out ;
// }

// @keyframes loadEffect1 {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }

//   to {
//     opacity: 1;
//     transform: none;
//   }
// }

