.main__header__corp {
    border: 1px dashed rgb(42, 0, 252);
    flex: 1;
    width: 100px;
    display: flex;
    justify-content: center;
}

.main__header__corp__inner {
    border: 2px solid rgb(5, 5, 5);
    width: 220px;
    display: flex;
    justify-content: center;
}