.main {
    border: 3px solid rgb(71, 0, 250);
    
    flex: 3;
    height: 85rem;
    padding: 10px;
    overflow: auto;
}

.main__inner {
    border: 1px dashed rgb(253, 0, 198);
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;  
}

.main__header {
    border: 1px dashed #000;
    display: flex;
    flex-flow: row;
    /* flex: 0.5; */
    align-items: stretch;
    justify-content: space-around;
}

.main__body {
    border: 1px dashed rgb(252, 0, 0);
    display: flex;
    flex-flow: row;
    /* width: 60rem; */
    flex: 2;
    height: 50rem;
    align-items: stretch;
}

.main__body__left {
    border: 1px dashed #000;
    display: flex;
    flex-flow: column;
    flex: 3;
    align-items: stretch;
    padding: 10px;
}

.main__body__article {
    border: 1px solid rgb(0, 255, 242);
    display: flex;
    flex-flow: row;
    align-items: stretch;
    flex: 1;
    padding: 10px;
}

.main__footer {
    border: 1px dashed rgb(255, 0, 221);
    display: flex;
    flex-flow: row;
    /* flex: 1; */
    height: 20rem;
    align-items: stretch;
    
padding: 10px;
}

