.main__header__recent {
    border: 1px solid rgb(42, 0, 252);
    flex: 1;
    width: 100px;
    display: flex;
    justify-content: center;
}

.main__header__recent__inner {
    border: 2px solid rgb(0, 0, 0);
    width: 220px;
    display: flex;
    justify-content: center;
}