.App {  
  margin: 0;;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  /* 노트북화면 비율 */
  width: 90rem;
}

.content {
  display: flex;
  flex-flow: column;
  border: 3px solid rgb(71, 0, 250);
  flex: 3;
  height: 85rem;
  padding: 10px;
  overflow: auto;
}

.content__header {
  border: 1px dashed #000;
  display: flex;
  flex-flow: row;
  /* flex: 0.5; */
  align-items: stretch;
  justify-content: space-around;
}

.content__body {
  border: 1px dashed rgb(252, 0, 0);
  display: flex;
  flex-flow: row;
  /* width: 60rem; */
  flex: 2;
  height: 50rem;
  align-items: stretch;
}

.content__body__trend {
  border: 1px dashed #000;
    display: flex;
    flex-flow: column;
    flex: 3;
    align-items: stretch;
    padding: 10px;
}

.content__body__article {
  border: 1px solid rgb(0, 255, 242);
  display: flex;
  flex-flow: row;
  align-items: stretch;
  flex: 1;
  padding: 10px;
}

/* 모니터 별  비교 필요 */
/* 1440px 이상이면 메인 화면 늘어남 */
@media (min-width: 1440px) {
  .container {
    width: 100vw;
  }
}

